.row
  .span12
    %h3.header Privacy Policy

.row
  .span12
    %ol.padded-list
      %li
        %strong Website Visitors
        %p
          Like most website operators, ForgePost collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. ForgePost’s purpose in collecting non-personally identifying information is to better understand how ForgePost’s visitors use its website. From time to time, ForgePost may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
          ForgePost also collects potentially personally-identifying information like Internet Protocol (IP) addresses. ForgePost only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.

      %li
        %strong Gathering of Personally-Identifying Information
        %p
          Certain visitors to ForgePost’s websites choose to interact with ForgePost in ways that require ForgePost to gather personally-identifying information. The amount and type of information that ForgePost gathers depends on the nature of the interaction. For example, we ask customers who create accounts for the purposes of obtaining a portfolio site to provide an email address. Those who engage in transactions with ForgePost – by purchasing subscriptions, for example – are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, ForgePost collects such information only insofar as is necessary or appropriate to fulfill the purpose of the customer’s interaction with ForgePost. ForgePost does not disclose personally-identifying information other than as described below. Customers can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.

      %li
        %strong Aggregated Statistics
        %p
          ForgePost may collect statistics about the behavior of visitors to its websites. For instance, ForgePost may monitor individual or aggregate portfolio site usage, and display that number in aggregate on the ForgePost website. However, ForgePost does not disclose personally-identifying information other than as described below.

      %li
        %strong Protection of Certain Personally-Identifying Information
        %p
          ForgePost discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on ForgePost’s behalf or to provide services available at ForgePost’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using ForgePost’s websites, you consent to the transfer of such information to them. ForgePost will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, ForgePost discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when ForgePost believes in good faith that disclosure is reasonably necessary to protect the property or rights of ForgePost, third parties or the public at large. If you are a registered user of an ForgePost website and have supplied your email address, ForgePost may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with ForgePost and our products. We primarily use our blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. ForgePost takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.

      %li
        %strong Cookies
        %p
          A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. ForgePost uses cookies to help ForgePost identify and track visitors, their usage of ForgePost website, and their website access preferences. ForgePost visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using ForgePost’s websites, knowing that you will not be able to sign in or use certain features of ForgePost at all.

      %li
        %strong Privacy Policy Changes
        %p
          ForgePost may change its Privacy Policy from time to time, and at ForgePost’s sole discretion. Visitrs are encouraged frequently check this page for any changes to ForgePost's Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.