.row
  .span12
    %h3.header= t(".terms_conditions")

.row
  .span12
    %ol.padded-list
      %li
        %strong Use of Services
        %p
          ForgePost grants you permission to make use of our severs and website administration services ("Services"), provided that you are of legal age to form a binding contract and are not barred from receiving such services under the laws of the United States or other jurisdictions. You agree to immediately notify ForgePost of any unauthorized use of your account or other breach of security. ForgePost will not be liable for any damages or losses resulting from your failure to keep your account secure.

      %li
        %strong Acceptable Conduct and Account Access
        %p
          You agree that any usage of your account deemed as unacceptable by ForgePost will result in immediate account suspension or cancellation without a refund and the possibility that ForgePost will impose fees and/or pursue civil action to recover compensation for damages without any prior notice.

          ForgePost and its Services may not be used for any unlawful purpose. Transmission or storage of any material in violation of United States or state law is considered prohibited, and may be grounds for immediate account termination. This includes materials protected by intellectual property rights or materials deemed illegal for possession or distribution.

          Additionally, providing false data on any subscription, including the use of unauthorized credit card or other payment information shall result in immediate account termination, and will be reported to law enforcement authorities.

          ForgePost reserves the right to suspend access to any customer if, in the judgment of the ForgePost administrators, the customer’s account is the cause of a violation of any of the other terms of service or for any other reason which ForgePost chooses. ForgePost will make a reasonable and good-faith effort to notify the Customer prior to unilateral cancellation in order to resolve any problem or dispute with a minimum of service interruption, save in cases otherwise excepted.


      %li
        %strong Payment and Subscriptions
        %p
          You agree that ForgePost shall be permitted to charge your credit card on a recurring basis, as agreed upon in advance of providing services. Payment is due upon issuance of invoice. Your service or access may be interrupted and/or cancelled for accounts that are seven days or more past due.

          ForgePost shall not be held responsible for any additional fees or charges resulting from charges billed by ForgePost, such as overdraft fees or finance charges.

          If at any time it becomes necessary for ForgePost to cancel Customer’s service without cause, ForgePost will provide 30 days advance notice by way of contact information furnished to ForgePost by Customer. In the event that Customer’s service is cancelled without cause, ForgePost will refund a pro-rated portion of the Customer’s last payment.

          Customer may cancel any individual subscription at any time by using the “Cancel Subscription” button located on the billing page. Once a subscription is canceled, the account will remain active until the end of the billing period, and then immediately deactivated. Refunds will not be issued for time remaining in the billing period. Cancellation of service does not relieve Customer of responsibility for the payment of any accrued charges.

          If Customer modifies a subscription’s term, that term change will take effect at the beginning of the next billing cycle. For example, if Customer holds a current one-year subscription, and downgrades it to a three-month subscription, then the subscription will renew for three months once the one-year subscription expires.

      %li
        %strong Limitation of Liability
        %p
          The Customer acknowledges that the service provided is of such a nature that service can be interrupted for many reasons other than the negligence of ForgePost. As a result, subscriber agrees that ForgePost shall not be held responsible or liable for any damages resultant from any cause beyond the direct and exclusive control of ForgePost. Customer further acknowledges that ForgePost’s liability for its own negligence shall not exceed an amount equivalent to charges payable by Customer for services during the billing period damages occurred. ForgePost shall not be held responsible or liable for any consequential damages, loss or injury.

      %li
        %strong Disclaimer of Warranties
        %p
          Services are provided “as is”. ForgePost hereby disclaims all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. ForgePost makes no warranty that the ForgePost website or other services will be error free or that access thereto will be continuous or uninterrupted. You understand that you obtain content or services through ForgePost at your own discretion and risk.

      %li
        %strong Disclosure to Law Enforcement
        %p
          Subscriber agrees that ForgePost may disclose any and all subscriber information including any log entries or account history, etc. to any court who sends us a valid court order, without further consent or notification to the Subscriber. In addition, upon receipt of such a court order, ForgePost shall, at its sole discretion, have the right to terminate any of the Customer’s services.

      %li
        %strong General Representation and Warranty
        %p
          You represent and warrant that (i) your use of the Services will be in strict accordance with the ForgePost Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Services will not infringe or misappropriate the intellectual property rights of any third party.

      %li
        %strong Indemnification
        %p
          You agree to indemnify and hold harmless ForgePost, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Services, including but not limited to your violation of this Agreement.

      %li
        %strong Miscellaneous
        %p
          This Agreement constitutes the entire agreement between ForgePost and the Customer concerning any service provided or rendered, and it may only be modified by a written amendment signed by an authorized executive of ForgePost, or by the posting by ForgePost of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in California. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court.

          If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; ForgePost may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.

      %li
        %strong Statute of Limitations
        %p
          You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of ForgePost services or the Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred.